{% extends 'main.html.twig' %}

{% block title %}
    Tienda
{% endblock %}

{% block content %}
    <h1>
        Articulos
    </h1>
    {{ include('product/_list.html.twig', {
        'products' : products
    })}}
{% endblock %}