{% extends 'main.html.twig' %}

{% block title %}
    Tienda
{% endblock %}

{% block content %}
    <div class="container fluit">
        <h1 style="text-align:center"> Productos  </h1>
        <div class="row justify-content-md-center">
            <div class="col col-lg-4">
                {{ include('product/_list.html.twig', {
                    'products' : products
                })}}
            </div>            
        </div>
    </div>
    
{% endblock %}