{% extends 'main.html.twig' %}

{% block title %}
    Detalle articulo
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-5">
        <div class="card mt-3">
            <div class="card-body">
                <img width="400" height="400" src="{{ asset(product.photo) }}">
            </div>
        </div>
    </div>

    <div class="col-lg-7">
        <div class="card mt-3">
            <div class="card-body">
                <h2>{{ product.name }}</h2>
                <h3>{{ product.formattedPrice }}</h3>
                <h4 class="badge badge-success">Disponible</h4>
                <p>
                    {{ product.description }}
                </p>

                <div>
                    <form method="post" action="">
                        <button type="submit" class="btn btn-info">Comprar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}