{% extends 'main.html.twig' %}

{% block title %}Error de pago{% endblock %}

{% block content %}

    <h1>Error al realizar Pago</h1>

    <div class="alert alert-danger">
        <p>
            {{ error }}
        </p>
    </div>

    <div>
        <form method="post" action="{{ path('status_pay', { code: order.code }) }}">
            <button type="submit" class="btn btn-info btn-large">Reintentar</button>
        </form>
    </div>


{% endblock %}
