{% extends 'main.html.twig' %}

{% block title %}Error solictid de pago{% endblock %}

{% block content %}

    <h1>Error de solicitud de pago</h1>

    <div class="alert alert-danger">
        <p>
            {{ error }}
        </p>
    </div>


{% endblock %}
